@model IEnumerable<PLCore.DTOs.SkyRoom.SkyRoomViewModel>

@{
    ViewData["Title"] = "اتاق های موجود";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">اتاق های موجود</h1>

<p>
    <a asp-action="CreateRoom">ایجاد اتاق</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.guest_login)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.guest_limit)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.op_login_first)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.max_users)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.session_duration)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.time_limit)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.time_usage)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.time_total)
                </th>
                <th class="text-xs-center align-middle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td class="text-xs-center align-middle">
                       @if(item.status == 1)
                       {
                           <span>فعال</span>
                       }
                       @if(item.status == 0)
                       {
                           <span>غیرفعال</span>
                       }
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.guest_login)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.guest_limit)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.op_login_first)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.max_users)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.session_duration)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.time_limit)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.time_usage)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.time_total)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
