@model PLDataLayer.Entities.Blog.NewsGroup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NewsGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsGroup_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsGroup_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsgGroup_Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsgGroup_Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsGroup_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
