@model IEnumerable<PLDataLayer.Entities.Blog.NewsGroup>
@using PLCore.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "گروه های خبر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    int roleId = int.Parse(User.FindFirst("RoleId").Value);
}
<h1 class="text-xs-center alert alert-info">گروه های خبر</h1>
@if (_userService.CheckPermission(74, User.Identity.Name, roleId))
{
    <p>
        <a asp-action="Create" class="btn btn-success">ایجاد گروه</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.NewsGroup_Title)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.NewsgGroup_Comment)
            </th>

            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.NewsGroup_Title)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.NewsgGroup_Comment)
                </td>

                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermission(75, User.Identity.Name, roleId))
                    {
                        <a asp-action="Edit" asp-route-id="@item.NewsGroup_Id">ویرایش</a> <span> | </span>
                    }
                    @if (_userService.CheckPermission(76, User.Identity.Name, roleId))
                    {
                        <a asp-action="Delete" asp-route-id="@item.NewsGroup_Id">حذف</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
