@model PLDataLayer.Entities.SubEntities.Slider

@{
    ViewData["Title"] = "جزئیات اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <h1 class="text-xs-center alert alert-info">
        جزئیات اسلایدر
        <a asp-action="Index" class="float-xs-left btn btn-warning">بازگشت</a>
    </h1>

<div>
    <h4>اسلایدر</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderImage)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/slider/@Model.SliderImage" class="img-thumbnail" width="50" height="50" /> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderText1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderText1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderText1Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderText1Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderText2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderText2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderText2Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderText2Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderButton1Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderButton1Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderButton1Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderButton1Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderButton2Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderButton2Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderButton2Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderButton2Link)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SliderId">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
