@model IEnumerable<PLDataLayer.Entities.SubEntities.ContactInfo>

@{
    ViewData["Title"] = "لیست اطلاعات تماس";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">اطلاعات تماس</h1>

<p>
    <a asp-action="Create" class="btn btn-success">ثبت اطلاعات</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Phone1)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Phone2)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Fax1)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Fax2)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Email1)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Email2)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Address1)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_Address2)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.CI_ContactTime)
                </th>

                <th class="text-xs-center align-middle">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Phone1)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Phone2)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Fax1)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Fax2)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Email1)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Email2)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Address1)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_Address2)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.CI_ContactTime)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.OP_Create)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.OP_Update)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.OP_Remove)
                    </td>
                    <td class="text-xs-center align-middle">
                        <a asp-action="Edit" asp-route-id="@item.CI_Id">ویرایش</a> |
                        <a asp-action="Details" asp-route-id="@item.CI_Id">جزئیات</a> |
                        <a asp-action="Delete" asp-route-id="@item.CI_Id">حــذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
