@model PLDataLayer.Entities.SubEntities.ContactInfo

@{
    ViewData["Title"] = "حذف اطلاعات تماس";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <h1 class="text-xs-center alert alert-info">
        حــذف اطلاعات تماس
        <a asp-action="Index" class="float-xs-left btn btn-warning">بازگشت</a>
    </h1>

<h3>آیا مطمئن به حذف اطلاعات تماس هستید؟</h3>
<div>
    <h4>اطلاعات تماس</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Fax1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Fax1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Fax2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Fax2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Email1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Email1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Email2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Email2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CI_ContactTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CI_ContactTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OP_Create)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OP_Create)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OP_Update)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OP_Update)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OP_Remove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OP_Remove)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CI_Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">بازگشت</a>
    </form>
</div>
