@model IEnumerable<PLDataLayer.Entities.SubEntities.InstaPost>
@using PLCore.Convertors;
@using PLCore.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "پست های اینستاگرام";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    int roleId = int.Parse(User.FindFirst("RoleId").Value);
}
<h1 class="text-xs-center alert alert-info">پست های اینستاگرام</h1>
@if (_userService.CheckPermission(119, User.Identity.Name, roleId))
{
    <div class="col-xs-12 mb-2">
        <a asp-action="Create" class="offset-md-4 col-md-4 col-xs-12 btn btn-outline-primary">پست جدید</a>
    </div>
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.InstaPostTitle)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.InstaPostText)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.InstaPostImage)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.InstaPostLink)
                </th>
                <th class="text-xs-center align-middle">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th class="text-xs-center align-middle">
                    تاریخ
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.InstaPostTitle)
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.InstaPostText)
                    </td>
                    <td class="text-xs-center align-middle">
                        <img width="100" height="100" src="~/images/instagram/@item.InstaPostImage" />
                    </td>
                    <td class="text-xs-center align-middle">

                        <a href="@item.InstaPostLink">لینک</a>
                    </td>
                    <td class="text-xs-center align-middle">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td class="text-xs-center align-middle">
                        @item.InstaPostDateTime.ToShamsiN()
                    </td>
                    <td class="text-xs-center align-middle">
                        @if (_userService.CheckPermission(120, User.Identity.Name, roleId))
                        {
                            <a asp-action="Edit" asp-route-id="@item.InstaPostId">ویرایش</a> <span> | </span>
                        }
                        @if (_userService.CheckPermission(121, User.Identity.Name, roleId))
                        {
                            <a asp-action="Delete" asp-route-id="@item.InstaPostId">حــذف</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


